<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h4>Tariq Ahsan</h4>
            <h2>tariqahsan@yahoo.com</h2>
        </div>
        <img mat-card-image src="./assets/image/MeInChicago.JPG" alt="Me in Chicago 2013">
    </div>
<mat-divider></mat-divider>
<h2 matSubheader>Pages</h2>
<a mat-list-item routerLinkActive="item-list-active" routerLink="/">Dashboard</a>
<a mat-list-item routerLinkActive="item-list-active" routerLink="/posts">Posts</a>
<a mat-list-item routerLinkActive="item-list-active" routerLink="/articles">Articles</a>
<mat-divider></mat-divider>
<h2 matSubheader>Tools</h2>
<a mat-list-item routerLinkActive="item-list-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
</a>
<a mat-list-item routerLinkActive="item-list-active" routerLink="/phone">
    <mat-icon>contact_phone</mat-icon>
    Phone
</a>

</mat-nav-list>
